# Default ignored files
/shelf/
/workspace.xml
../HotelManagement_I/target/
/compiler.xml
/encodings.xml
/jarRepositories.xml
/libraries/java_json.xml
/misc.xml
/modules.xml
/ProyectoHotelProgra2.iml
/vcs.xml
